<%- include('partials/head') %>
<%- include('partials/header') %>
    <main class="section error-page">
      <div class="container">
        <h1>404</h1>
        <p>A página que procura não existe. Talvez o conteúdo tenha sido movido ou o endereço escrito incorretamente.</p>
        <a class="button button-primary" href="/">Voltar para a página inicial</a>
      </div>
    </main>
<%- include('partials/footer') %>
