<%- include('partials/head') %>
<%- include('partials/header') %>
    <main class="section error-page">
      <div class="container">
        <h1>Ops! Algo correu mal.</h1>
        <p>
          Não se preocupe, a nossa equipa já foi notificada. Por favor, tente novamente em alguns instantes ou contacte o
          suporte através de <a href="mailto:suporte@fluxosoftwares.com">suporte@fluxosoftwares.com</a>.
        </p>
        <a class="button button-outline" href="/">Voltar ao início</a>
      </div>
    </main>
<%- include('partials/footer') %>
